.sidebar {

    &__block {
        margin-bottom: 40px;
    }

    &__title {
        font: 700 14px $title;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__tabs {
        border-bottom-width: 2px;
        margin-bottom: 30px;

        .nav-link {
            border: none;
            color: #999;
            font: 700 12px $title;
            text-transform: uppercase;
            padding: 0 10px 15px;
            position: relative;

            &::after {
                @include pos($b: -1px, $l: 50%);
                @include size(0, 2px);
                content: '';
                background-color: transparent;
                transition: all .3s;
            }

            &.active::after {
                background-color: $green;
                left: 0;
                width: 100%;
            }
        }
    }

    &__posts {

        &-item {
            margin-bottom: 15px;
        }

        &-img {
            @include size(30%);
            margin-right: 8%;
            position: relative;
            overflow: hidden;

            img {
                @include size(100%);
            }

            ion-icon {
                @include align(true, true, absolute);
                opacity: 0;
                transition: all .5s;
                color: #fff;
                font-size: 30px;
            }

            &::before {
                @include size(100%);
                @include pos($t: 0, $l: -100%);
                content: '';
                background-color: $green;
                transition: all .3s;
                opacity: .7;
            }

            &:hover {
                &::before {
                    left: 0;
                }

                ion-icon {
                    opacity: 1;
                }
            }
        }

        &-title {
            text-transform: uppercase;
            font: 700 14px $title;
            margin-bottom: 5px;
        }

        &-date {
            font-size: 12px;
            color: #9a9a9a;
        }
    }
}